{% extends 'layout.html' %}
{% block body %}
  <h1>Todolist</h1>
  
  <a class="btn btn-success" href="/add_backlog">添加待办事项</a>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
    {% for backlog in backlogs %}
    <tr>
      <td>{{ backlog.id }}</td>
      <td>{{ backlog.title }}</td>
      <td>{{ backlog.author }}</td>
      <td>{{ backlog.create_date }}</td>
      <td><a href="edit_backlog/{{ backlog.id }}" class="btn btn-primary pullright">编辑</a></td>
      <td>
          <form action="{{ url_for('delete_backlog', id=backlog.id) }}" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="删除" class="btn btn-danger">
          </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}